@import '../../main.scss';

.button {
    @include themify($themes) {
        border: 1px solid themed('logo');
        background-color: themed('bg');
        color: themed('textColor');
        font-weight: 500;
        padding: 10px;
        border-radius: 10px;

        
        @include tablet{
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
        }
        
        @include mobile{
            padding: 5px;
            font-size: 15px;
        }
    }
}