@import '../../../main.scss';

.teamBody {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        gap: 20px;

        h2 {
            font-weight: 600;
            font-size: 40px;
            color: themed('textColor');

        }

        .teamMembers {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
            gap: 50px;

            .teamDetails {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;


                .teamMember {
                    // display: flex;
                    // flex-wrap: wrap;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    margin: 10px;
                    gap: 10px;
                    position: relative;
                    height: 400px;
                    width: 300px;
                    border: 1px solid themed('border');
                    border-radius: 20px;
                    box-sizing: border-box;
                    overflow: hidden;

                    .memberImg {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 20px;

                    }

                    &:hover .memberInfo {
                        right: 0;
                        opacity: 1;

                    }

                    .memberInfo {
                        height: 400px;
                        width: 300px;
                        position: absolute;
                        top: 0;
                        right: -101%;
                        background: themed('cardOverlay');
                        backdrop-filter: blur(5px);
                        border-radius: 20px;
                        color: themed('cardText');
                        box-sizing: border-box;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        opacity: 0;
                        transition: 1s;

                        .memberName {
                            text-transform: uppercase;
                            font-size: 30px;
                            font-weight: 600;

                        }

                        .memberPost {
                            text-transform: capitalize;
                            font-size: 20px;
                            font-weight: 200;

                        }

                        .memberDesc {
                            font-size: 16px;
                            line-height: 25px;
                            margin: 40px 0;
                            font-weight: 400;
                        }


                    }

                }

                h3 {
                    color: themed('textColor');
                    width: 100%;
                    text-align: center;


                    span {
                        color: themed('textColorSoft');

                    }
                }
                
                .editMembers{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin-top: 20px;

                    span{
                        padding: 10px;
                        color: themed('textColor');
                        border: 1px solid themed('borderSoft');
                        border-radius: 10px;
                        
                    }

                }
            }
        }
    }
}