@import '../../main.scss';

.logoutButton {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: themed('bg');

        .loginLink{
            margin: 2rem;
            color: themed('textColor');
            padding: 10px;
            border: 1px solid themed('border');
            border-radius: 10px;
            font-weight: 500;
            
        }
    }
}