@import '../../main.scss';

.eventForm {
    @include themify($themes) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color: themed('bg');
        min-height: calc(100vh - 85px);

        form {
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: column;
            padding: 50px;
            gap: 20px;
            color: themed('textColor');

            @include tablet {
                padding: 20px;
            }

            @include mobile {
                padding: 10px;
            }

            img {
                width: 50rem;
                border-radius: 10px;

                @include tablet {
                    width: 30rem;
                }
                @include mobile {
                    width: 20rem;
                }
                @include smallmobile {
                    width: 15rem;
                }

            }

            .formElements {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: space-between;

                @include tablet {
                    font-size: 20px;
                    gap: 5px;
                }
                @include mobile {
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 15px;
                }

                input,
                textarea {
                    border: 1px solid themed('logo');
                    background: transparent;
                    background-color: themed('bgSoft');
                    padding: 10px;
                    border-radius: 10px;
                    color: themed('textColor');
                    cursor: pointer;

                    @include tablet {
                        width: 80%;
                    }
                }

                textarea {
                    max-height: 500px;
                    min-height: 200px;
                    width: 300px;

                    @include tablet {
                        width: 80%;
                    }
                    @include mobile {
                    }
                }

                button {
                    color: themed('textColor');
                    background-color: themed('bg');
                    padding: 10px;
                    border: 1px solid themed('borderSoft');
                    border-radius: 10px;
                    cursor: pointer;
                }

            }
        }
    }
}