@import '../../main.scss';

.memberDetails {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 20px;
        padding: 50px 100px;
        background: themed('bg');
        gap: 50px;
        min-height: calc(100vh - 185px);

        @include tablet {
            gap: 30px;
            padding: 50px;
        }

        @include mobile {
            gap: 20px;
            padding: 20px;
        }

        .simpleDetails {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 50px;

            
            @include tablet {
                gap: 20px;
            }
            @include mobile {
                gap: 10px;
            }

            img {
                width: 30rem;
                border-radius: 10px;

                @include tablet {
                    width: 20rem;
                }

                @include mobile {
                    width: 15rem;
                }
            }

            .details1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                h3 {
                    color: themed('textColorSoft');

                }

                h1 {
                    color: themed('textColor');
                    font-size: 50px;

                    @include tablet {
                        font-size: 30px;
                    }

                    @include mobile {
                        font-size: 20px;
                    }

                }

                span {
                    margin-top: 20px;
                    color: themed('textColorSoft');
                }

            }

        }

        .moreDetails {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            // margin: 0px 100px;


            @include tablet {
                gap: 20px;
                width: calc(100vw - 150px);
            }
            @include mobile {
                gap: 20px;
                width: calc(100vw - 50px);
            }


            p {
                color: themed('textColor');
                width: 100%;
                border: 1px solid themed('border');
                padding: 50px;
                border-radius: 10px;

                @include tablet {
                    gap: 20px;
                    padding: 30px;
                }
                @include mobile {
                    gap: 10px;
                    padding: 20px;
                }


            }

        }

        .editMembers {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

        }

        .eventLink {
            padding: 10px;
            color: themed('textColor');
            border: 1px solid themed('borderSoft');
            background-color: themed('bg');
            border-radius: 10px;

            @include tablet {
                padding: 8px;
                font-size: 15px;
                border-radius: 5px;
            }

            @include mobile {
                padding: 5px;
                font-size: 10px;
            }
        }

    }
}