@import '../../main.scss';

.memberDetails {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 20px;
        padding: 50px 100px;
        background: themed('bg');
        gap: 50px;

        .simpleDetails {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;

            img {
                height: 30rem;
                border-radius: 10px;

            }

            .details1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                h3 {
                    color: themed('textColorSoft');

                }

                h1 {
                    color: themed('textColor');
                    font-size: 50px;

                }

                span {
                    margin-top: 20px;
                    color: themed('textColorSoft');
                }

            }

        }

        .moreDetails {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;

            p {
                color: themed('textColor');
                width: 100%;
                border: 1px solid themed('border');
                padding: 50px;
                border-radius: 10px;


            }

        }

        .editMembers {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

            span {
                padding: 10px;
                color: themed('textColor');
                border: 1px solid themed('borderSoft');
                border-radius: 10px;

            }

        }

        .eventLink{
            padding: 10px;
            color: themed('textColor');
            border: 1px solid themed('borderSoft');
            border-radius: 10px;
        }

    }
}