@import '../../main.scss';

.support {
    @include themify($themes) {
        height: calc(100vh - 85px);
        background-color: themed('bg');
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        .buttons {
            margin-top: 50px;
            
        }

    }
}