@import '../../main.scss';

.hello {
    @include themify($themes) {
        width: 70%;
        border-color: themed('bg');

    .gallery {
            .carousel {
                margin-top: 100px;
                background-color: themed('bg');
                // gap: 10px;

                .slick-track {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .slick-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .image {
                    position: relative;
                    width: 100%;
                    margin: auto;

                    img {
                        margin: auto;
                        width: 30rem;
                        border-radius: 10px;
                        object-fit: cover;
                        padding: auto;

                    }

                    button {
                        position: absolute;
                        bottom: 40px;
                        border: 1px solid themed('logo');
                        background: transparent;
                        padding: 10px;
                        border-radius: 10px;
                        color: themed('textColor');
                        backdrop-filter: blur(10px);

                        &:hover {
                            background-color: themed('bg');

                        }
                    }

                }
            }


        }
    }
}