@import '../../main.scss';

.teamDetails {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;


        .teamMember {
            // display: flex;
            // flex-wrap: wrap;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            margin: 10px;
            gap: 10px;
            position: relative;
            height: 400px;
            width: 300px;
            border: 1px solid themed('border');
            border-radius: 20px;
            box-sizing: border-box;
            overflow: hidden;

            @include tablet {
                height: 16rem;
                width: 12rem;

            }

            @include mobile {
                height: 12rem;
                width: 9rem;

            }

            .memberImg {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;

            }

            &:hover .memberInfo {
                right: 0;
                opacity: 1;

            }

            .memberInfo {
                height: 400px;
                width: 300px;
                position: absolute;
                top: 0;
                right: -101%;
                background: themed('cardOverlay');
                backdrop-filter: blur(5px);
                border-radius: 20px;
                color: themed('cardText');
                box-sizing: border-box;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                opacity: 0;
                transition: 1s;

                @include tablet {
                    height: 16rem;
                    width: 12rem;
                    padding: 10px;
                }

                @include mobile {
                    height: 12rem;
                    width: 9rem;
                    padding: 10px;
                }


                .memberName {
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 600;

                    @include tablet {
                        font-size: 16px;
                    }

                    @include mobile {
                        font-size: 12px;
                    }

                }

                .memberPost {
                    text-transform: capitalize;
                    font-size: 20px;
                    font-weight: 200;

                    @include tablet {
                        font-size: 12px;
                    }

                    @include mobile {
                        font-size: 10px;
                    }
                }

                .memberDesc {
                    font-size: 16px;
                    line-height: 25px;
                    margin: 40px 0;
                    font-weight: 400;

                    @include tablet {
                        font-size: 12px;
                        line-height: 12px;
                    }

                    @include mobile {
                        font-size: 8px;
                        line-height: 8px;
                    }
                }


            }

        }

        h3 {
            color: themed('textColor');
            width: 100%;
            text-align: center;


            @include mobile {
                font-size: 12px;
            }


            span {
                color: themed('textColorSoft');

            }
        }

        .editMembers {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

        }
    }
}