@import '../../main.scss';

.events {
    @include themify($themes) {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        background-color: themed('bg');
        gap: 50px;
        min-height: calc(100vh - 185px);

        @include tablet{
            gap: 20px;
            padding: 20px;
            min-height: calc(100vh - 85px);
        }

        h1 {
            color: themed('textColor');
        }

        .fullWidth {
            width: 100%;

            .addEventButton {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: themed('textColor');
                    border-radius: 10px;
                    padding: 10px;
                    border: 1px solid themed('borderSoft');

                }

            }
        }

    }
}